<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div class="side-bar-title">
      <h2>Categories</h2>
    </div>
    <app-left-side-menu></app-left-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a mat-list-item routerLink="/home">Interview preparation</a>
    </mat-toolbar>
    <app-top-menu></app-top-menu>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
