<div class="user-panel" *ngIf="user$ | async as user; else notAuthenticated">
  <img src="assets/default-avatar.png" alt="Avatar" class="avatar" />
  <span>{{ user?.firstName }} {{ user?.lastName }}</span>
  <button mat-flat-button (click)="signOut()">Logout</button>
</div>
<ng-template #notAuthenticated>
  <button mat-flat-button color="basic" class="sign-in-button" (click)="openSignInModal()">Sign In</button>
  <button mat-flat-button color="accent" (click)="openSignUpModal()">Sign Up</button>
</ng-template>
